<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘</title>
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	  <%- include('common/login-aside.ejs') -%>
			<!--右边下部分，网站的主体页面-->
    <div class="main">
			<div class="about">
				<p class="aboutTitle">不忘</p><br>
				<p class="aboutContent">世界是一个回音谷，念念不忘，必有回响，你大声喊唱，山谷雷鸣，音传千里，一叠一叠，一浪一浪，彼岸世界都收到了。凡事念念不忘，必有回响。因为他有传递你心里的声音，绵绵不绝，遂相印于心。
				</p>
			</div>
		</div>
<script src="/js/select.js"></script>
</body>
</html>