<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs') -%>
	<!--右边下部分，网站的主体页面-->
	<div class="main">
    <%- include('common/home-header.ejs') -%>
    <div class="body">
      <!--内容部分!-->
      <div class="follow-main">
	      <div class="follow-header">
	      	<ul class="nav nav-pills">
	  				<li><a href="/follow/user">用户</a></li>
	    			<li><a href="/follow/note">记本</a></li>
	    		</ul>
	    	</div>
  	    <div class="note">
          <ul class="note-list">
            <li class="note-item">
              <a href="#" class="note-pic"><img src="/img/2.jpg"></a>
              <div class="note-title">
                <p>你的标题<p>
              </div>
            </li>
            
          </ul>
        </div>


    </div>

		</div>

    </div>
	</div>
<script>
</script>
</body>
</html>