<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs',{data:data}) -%>
	<!--右边下部分，网站的主体页面-->
  <div class="main">
		<div class="return-btn">
			<img src="/img/return-lg.jpg" id="btnReturn">
		</div>
		<div class="body">
  		<div class="newnote-title">编辑记本</div>
			<div class="newnote-form">
				<form action="/home/newnote" method="POST" enctype="multipart/form-data">
				  <div class="form-group">
				    <label for="noteTitle" class="sr-only"></label>
				    <input type="text" name="noteTitle" class="form-control" id="noteTitle" placeholder="(标题)">
				  </div>
				  <div class="form-group ">
				    <label for="noteIntroduction" class="sr-only"></label>
				    <textarea rows="10" cols="30" name="noteIntroduction" class="form-control" id="noteIntroduction" placeholder="(简介)" onkeyup="keyUP(this)"></textarea>
					</div>
					<div class="form-group">
    				<label for="noteCover" class="sr-only"></label>
   				 	<input type="file" id="noteCover" name="noteCover" style="color:#BCBCBC;">
				  </div>
				  <button type="submit" class="btn btn-primary btn-lg" id="btn">确认</button>
				</form>
			</div>

  	</div>
    
	</div>
<script type="text/javascript">
    function keyUP(t){
      var len = $(t).val().length;
      if(len > 100){
        $(t).val($(t).val().substring(0,140));
      }
    }
</script>
<script src="/js/back.js"></script>
<script src="/js/newnote.js"></script>
</body>
</html>