<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs') -%>
	<!--右边下部分，网站的主体页面-->
  <div class="main">
		<div class="return-btn">
			<img src="/img/return-lg.jpg" id="btnReturn">
		</div>
		<div class="body">
  		<div class="newnote-title">编辑记本</div>
			<div class="newnote-form">
				<form action="/home/newnote" method="POST" enctype="multipart/form-data">
				  <div class="form-group">
				    <label for="noteTitle" class="sr-only"></label>
				    <input type="text" name="noteTitle" class="form-control" id="noteTitle" placeholder="(标题)">
				  </div>
				  <div class="form-group ">
				    <label for="noteIntroduction" class="sr-only"></label>
				    <textarea rows="10" cols="30" name="noteIntroduction" class="form-control" id="noteIntroduction" placeholder="(简介)"></textarea>
					</div>
					<div class="form-group">
    				<label for="noteCover" class="sr-only"></label>
   				 	<input type="file" id="noteCover" name="noteCover" style="color:#BCBCBC;">
				  </div>
				  <button type="submit" class="btn btn-primary btn-lg" id="btn">确认</button>
				</form>
			</div>

  	</div>
    
	</div>
<script>
	$(document).ready(function(){

		$("#btn").click(function(event){
			event.preventDefault();
			var noteTitle = $("#noteTitle").val();
			var noteIntroduction = $("#noteIntroduction").val();
			var formData = new FormData(); 
			formData.append('noteCover', $("#noteCover")[0].files[0]);  //添加图片信息的参数
			formData.append('noteTitle',noteTitle);
			formData.append('noteIntroduction',noteIntroduction);  //添加其他参数
			$.ajax({
				type: 'POST',
				url: '/home/newnote',
				async: false,
				data: formData,
				processData : false,
				contentType : false,
				success:function(data){
					if (data.ret_code === 0 ){
						alert("创建记本成功！");
					};
				}

			});
		});
	});

  //给return的图片一个点击事件
  $("#btnReturn").click(function(){   
    location.href='/home'; 
  });
</script>
</body>
</html>