<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>不忘_登陆_测试</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<script src="/lib/jquery/jquery.js"></script>
</head>
<body>
	<%- include('common/home-aside.ejs') -%>
	<!--右边下部分，网站的主体页面-->
	<div class="main">
    <%- include('common/home-header.ejs') -%>
    <div class="body">
      <!--内容部分!-->
      	
					<ul class="p-ul">
						<li class="p-items">
							<div class="p-items-header">
								<div class="user-pto">
									<img src="./img/2.jpg">
								</div>
								<div class="user-info">
									<div class="info-time">
										<span>time1</span>
										<span>time2</span>
									</div>
									<div class="user-nick">
										<a href="#">nickname</a><span>更新了一个进展到&nbsp;</span><a href="#">your title</a>
									</div>
								</div>
							</div>
							<div class="p-items-content">
								<div class="user-content">
									"这里内容不知道要怎么填补进来"
									<br>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
								</div>
								<div class="user-content-pto">
									<img src="./img/2.jpg">
								</div>
							</div>
							<div class="p-items-foot">
								<hr class="cutLine" />
								<div class="items-info">
									赞<span>&nbsp;zan-conut &nbsp;</span>
									评论<span>&nbsp;comment-conut &nbsp;</span>
								</div>
							</div>
						</li>


						<li class="p-items">
							<div class="p-items-header">
								<div class="user-pto">
									<img src="./img/2.jpg">
								</div>
								<div class="user-info">
									<div class="info-time">
										<span>time1</span>
										<span>time2</span>
									</div>
									<div class="user-nick">
										<a href="#">nickname</a><span>更新了一个进展到&nbsp;</span><a href="#">your title</a>
									</div>
								</div>
							</div>
							<div class="p-items-content">
								<div class="user-content">
									"这里内容不知道要怎么填补进来"
									<br>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
								</div>
								<div class="user-content-pto">
									<img src="./img/2.jpg">
								</div>
							</div>
							<div class="p-items-foot">
							<hr class="cutLine" />
								<div class="items-info">
									赞<span>&nbsp;zan-conut &nbsp;</span>
									评论<span>&nbsp;comment-conut &nbsp;</span>
								</div>
							</div>
						</li>

					</ul>



    </div>
	</div>
<script>
</script>
</body>
</html>