<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不忘_登陆_测试</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script src="/lib/jquery/jquery.js"></script>
</head>

<body>
    <%- include('common/home-aside.ejs',{data:sessionpart}) -%>
        <!--右边下部分，网站的主体页面-->
        <div class="main">
            <%- include('common/setting-head.ejs',{data:sessionpart}) -%>
                <div class="body">
                    <div class="loginform">
                        <form>
                            <div class="form-group">
                                <label for="nickname">昵称：</label>
                                <input type="text" class="form-control" id="nickname" placeholder="昵称" value="<%=sessionpart.nickname%>">
                            </div>
                            <div class="form-group settingSex">
                                <label>性别：</label>
                                <label class="settinglabel">
                                    <input class="settingradio" checked type="radio" id="sex" name="sex" value="男">
                                    <span class="settingradioInput"></span>男<span><img src="/img/male-b.png"></span>
                                </label>
                                <label class="settinglabel">
                                    <input class="settingradio" type="radio" id="sex" name="sex" value="女">
                                    <span class="settingradioInput"></span>女<span><img src="/img/female-b.png"></span>
                                </label>
                            </div>
                            <div class="form-group input-group-lg">
                                <label for="signUp">个性签名：</label> 
                                <textarea id="signUp" placeholder="签名" class="settingArea" value="<%=sessionpart.nickname%>"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="userPtoUrl">自定义头像：</label>
                                    <input type="file" id="userPtoUrl" name="userPtoUrl" style="color:#BCBCBC;" onchange="typeControl(this);">
                                </div>
                            <button type="submit" class="btn btn-success " id="confirSet">提交更改</button>
                        </form>
                    </div>
                </div>
        </div>
        <script src="/js/setting.js"></script>
        <script src="/js/select.js"></script>
</body>
</html>