<div class="userHeader">
		<div class="userimg">
			<img src="/img/2.jpg">
	  </div>
	<p>nickname</p>
</div>
<div class="header">				
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="/home/notelist">记本</a></li>
    <li role="presentation"><a href="/home/progress">进展</a></li>
    <li role="presentation"><a href="/home/follow">关注</a></li>
    <li role="presentation"><a href="/home/follower">粉丝</a></li>
    <li role="presentation" class="pull-right"><a href="/home/newnote"><span class="glyphicon glyphicon-plus">&nbsp;</span>新增记本</a></li>
  </ul>
</div>

