<div class="userHeader">
		<div class="userimg">
			<img src="/img/2.jpg">
	  </div>
	<p>nickname</p>
</div>
<div class="header">				
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="/note">记本</a></li>
    <li role="presentation"><a href="/progress">进展</a></li>
    <li role="presentation"><a href="/follow">关注</a></li>
    <li role="presentation"><a href="/follower">粉丝</a></li>
    <li role="presentation" class="pull-right"><a href="#">新增记本</a></li>
  </ul>
</div>

