<!--左边的侧边栏-->
<div class="aside">
  <!--左上部分的logo-->
  <div class="logo">
      <img src="/img/logo.jpg" class="img-responsive center-block" >
  </div>
  <!--左下部分的导航-->
  <div class="menu homeMenu">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="/home/<%= data.userID %>/notelist">主页</a></li>
      <li role="presentation"><a href="/friending">关注</a></li>
      <li role="presentation"><a href="#">发现</a></li>
      <li role="presentation"><a href="#">消息</a></li>
      <li role="presentation"><a href="#">设置</a></li>
    </ul>
  </div>			
</div>