<link rel="stylesheet" href="/css/setting.css">
<div class="page-title">设置</div>
<div class="header">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/setting/<%= data.userID %>">设置</a></li>
        <li role="presentation"><a href="/changepw/<%= data.userID %>">修改密码</a></li>
    </ul>
</div>